doctype html
html
  head
    title= title
  body
    h1= message
    form(action="/form" method="POST")
      div
        label(for="name") Name:
        input(type="text" id="name" name="name" required)
      div
        label(for="email") Email:
        input(type="email" id="email" name="email" required)
      button(type="submit") Submit
    if name
      p Thank you, #{name}, for providing your email: #{email}.